@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Fredoka", sans-serif;
  --font-sans: "Inter", sans-serif;
  
  --color-brand-pink: #f82b70;
  --color-brand-cyan: #32d8f9;
  --color-brand-orange: #fb8901;
  --color-brand-yellow: #ffd900;
  --color-brand-purple: #c014f2;
  --color-brand-blue: #003cbe;
}

@layer base {
  body {
    @apply bg-brand-cyan text-slate-900 font-sans antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/20 backdrop-blur-md border border-white/30;
  }
  .text-balance {
    text-wrap: balance;
  }
}
